**Practice Problem 1**

1. Write a Python program which accepts the radius of a circle from the user
and compute the area

In [1]:
import math

In [4]:
radius = float(input("Enter the radius"))
area = math.pi*radius**2
print("Area of circle is" ,area)

Enter the radius3.5
Area of circle is 38.48451000647496

2.Write a Python Program to accept the details of a student like name, roll
number and mark and display it.

In [18]:
name = str(input('Enter the Name'))
r_n = int(input('Enter the Roll no.'))
mark = float(input('Enter the mark'))
print('\n Details')
print('Name:', name)
print('Roll No.:', r_n)
print('Mark;', mark)

Enter the NameAnu
Enter the Roll no.28
Enter the mark6.7

 Details
Name: Anu
Roll No.: 28
Mark; 6.7

3.Write a Python program to get the largest number from a list

In [19]:
l1=(12, 3, 47, 10)

In [22]:
lrg_n = max(l1)
print(lrg_n)

47

4. Given a range of first 10 numbers, write a Python program to iterate from
start number to the end number and print the sum of the current number
and previous number.

In [30]:
for i in range(1,11):
   c_no = i
   p_no = i-1
   sum = c_no + p_no
   print("Current Number", c_no ,"Previous Number", p_no ,"Sum:", sum )

Current Number 1 Previous Number 0 Sum: 1
Current Number 2 Previous Number 1 Sum: 3
Current Number 3 Previous Number 2 Sum: 5
Current Number 4 Previous Number 3 Sum: 7
Current Number 5 Previous Number 4 Sum: 9
Current Number 6 Previous Number 5 Sum: 11
Current Number 7 Previous Number 6 Sum: 13
Current Number 8 Previous Number 7 Sum: 15
Current Number 9 Previous Number 8 Sum: 17
Current Number 10 Previous Number 9 Sum: 19

5. Write a Python program to print only those numbers which are divisible
of 5.

In [37]:
f=(10,20,33,46,55)
for num in f:
    if num % 5 == 0:
        print(num)

10
20
55

6.Write a Python program to check whether a number is prime or no

In [49]:

num = int(input('Enter a positive number'))
for test in range(2,num//2+1):
  if num%test == 0:
    print('not prime')
    break
else:
  print(num,'is a Prime number')

Enter a positive number37
37 is a Prime number

7. Write a Python program to reverse a list using for loop.

In [1]:
r1=(10,40,30,70 )
revisedlist = r1[::-1]
print(revisedlist)

(70, 30, 40, 10)

8. Write a Python program to print the following pattern.
*
**
***
****

In [2]:
for i in range(1,5):
  print('*'*i)

*
**
***
****

9. Write a Python program to find the maximum of three numbers

In [5]:
n1 = int(input("Enter 1st no."))
n2 = int(input("Enter 2nd no."))
n3 = int(input("Enter 3rd no."))
num2 = max(n1,n2,n3)
print(num2)

Enter 1st no.37
Enter 2nd no.12
Enter 3rd no.7
37

10. Write a Python program to construct the following pattern, using a
nested for loop.

In [23]:
for i in range(1,5):
  print('*'*i)
  print('')
for j in range(5,0,-1):
  print('*'*j)
  print('')

*

**

***

****

*****

****

***

**

*

 ***Practice Problem 2***

1. Write a Python program to accept a string value from the user and display
the count of each character in that string

2. . Write a Python function to find the maximum of three numbers

In [25]:
m1=int(input('Enter a number'))
m2=int(input('Enter a number'))
m3=int(input('Enter a number'))
sum = max(m1,m2,m3)
print(sum)

Enter a number34
Enter a number12
Enter a number7
34

3. Write a Python function called exponent(base,exp) that returns an
integer value of base raises to the power of exp

In [27]:
b1 = int(input('Enter the base:'))
b2 = int(input('Enter the exponent:'))
print(b1**b2)

Enter the base:2
Enter the exponent:3
8

4. Write a Python function that takes a positive integer and returns the sum
of the cube of all the positive integers smaller than the specified number

In [32]:
def sum_c(n):
  r_s=0
  for i in range(1,n):
     r_s += i**3
  return r_s
n = int(input('Enter a no:'))
result = sum_c(n)
print(result)

Enter a no:4
36

5. Write a Python program which iterates from 1 to 10. For multiples of 2,
print “Fizz” instead of the number and for the multiples of 5, print “Buzz”.
For numbers which are multiples of both 2 and 5, print “FizzBuzz”.

In [39]:
for i in range(1,11):
  if i%2 == 0 and i%5 == 0:
    print("FizzBuzz")
  elif i%2 == 0:
    print("Fizz")
  elif i%5 == 0:
    print("Buzz")
  else:
    print(i)

1
Fizz
3
Fizz
Buzz
Fizz
7
Fizz
9
FizzBuzz

6.Write a Python program to find the most frequent item in a list of
numbers.

In [43]:
l1 = [2, 3, 4, 2, 5, 2 ]
def most_f(l1):
  counter = 0
  num = l1[0]
  for i in l1:
    cur_f = l1.count(i)
    if(cur_f>counter):
      counter = cur_f
      num=i
  return num
print(most_f(l1))

2

7.Write a Python program to find the sum of squares of the numbers in a
list.

In [54]:
m_list=[2,1,3,1 ]
sum_lt = 0
for i in m_list:
  sum_lt+=i*i
print(sum_lt)

15

8. Write a Python program using for loop that will iterate from 1 to 15. For
each iteration, check if the current number is odd or even, and display the
message to the screen as odd or even.

In [59]:
for i in range(1,16):
  if i%2 == 0:
    print(i,"-even")
  else:
    print(i,"-odd")

1 -odd
2 -even
3 -odd
4 -even
5 -odd
6 -even
7 -odd
8 -even
9 -odd
10 -even
11 -odd
12 -even
13 -odd
14 -even
15 -odd

9. Write a Python program to convert temperatures to and from Celsius
Fahrenheit. [Formula: c/5=f-32/9 where c=temperature in Celsius and f=
temperature in Fahrenheit.]

In [65]:
k= float(input("Enter the temparature"))
n=((k-32)/9)*5
print('Temperature in Fahrenheit=',k)
print('Temperature in Celsius =',n)

Enter the temparature41
Temperature in Fahrenheit= 41.0
Temperature in Celsius = 5.0

10. Write a Python function to calculate the factorial of a number (a
nonnegative integer). The function accepts the number as an argument.

In [66]:
def factorial(n):
  if n == 0:
    return 1
  else:
    return n*factorial(n-1)
n=int(input('Enter a number :'))
print(factorial(n))

Enter a number :3
6